// FONT //
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
$primary-font: 'Rubik', sans-serif;
$light: 300;
$regular: 400;
$bold: 500;

// COLOURS //
$primary-color: #FFFFFF;
$secondary-color: #000000;
$accent-color: #2E5BFF;
$border-color: #E4E8F0;
$bg-color: #F4F6FC;
$sub-heading-color: #B0BAC9;
$active-bg: #EFF2FE;
$copy-color: #2E384D;
$success-color: #33AC2E;
$success-bg: #E1F3E1;
$pending-color: #9DA6BA;
$pending-bg: #F0F2F5;

// UI //
$border: solid 1px $border-color;
$border-radius: 5px;

// SPACERS //
$xxs: 2px;
$xs: 4px;
$s: 8px;
$m: 16px;
$l: 32px;
$xl: 64px;
$xxl: 128px;
